<!-- Modal -->
<div class="modal fade" id="modalPublicaciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir una publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form >
          <div id="alertaPublicacion"></div>
          <input type="hidden" name="_id" id="_id" [(ngModel)]="id">
          <div class="modal-body">
            <div class="position-relative form-group">
                <label for="">Titulo</label>
                <input type="text" name="titulo" id="titulo" class="form-control" [(ngModel)]="titulo" placeholder="Título">
            </div>
            <div class="position-relative form-group">
              <label for="categoria" class="">Categoría</label>
              <select [(ngModel)]="categoria" name="select" id="categoria" class="form-control">
                  <option disabled="true" selected >- Seleccione el tipo de publicación -</option>
                  <option>Educación</option>
                  <option>Salud</option>
                  <option>Seguridad</option>
                  <option>Otro</option>
              </select>
            </div>
            <div class="position-relative form-group">
                <label for="">Descripcion</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control" [(ngModel)]="descripcion" placeholder="Descripción">
            </div>
            <div class="position-relative form-group">
                <label for="">Archivos</label>
                <input type="text" name="archivos" id="archivos" class="form-control" [(ngModel)]="archivos" placeholder="Opcional">
            </div>
            <div class="position-relative form-group d-flex justify-content-center">

              <div class="card" style="width: 29rem;">
                <agm-map 
                [latitude]="lat" 
                [longitude]="lng" 
                [zoom]="zoom" 
                [mapTypeId]="mapTypeId"
                (mapClick)="mapClicked($event)"> <!-- Creación del mapa -->

                  <agm-marker
                  *ngFor="let m of markers; let i = index"
                  (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat" 
                  [longitude]="m.lng" 
                  [label]="m.label" 
                  [markerDraggable]="m.draggable" 
                  (dragEnd)="markerDragEnd(m, $event)"> <!-- Creación el marcaor -->

                    <agm-info-window> <!-- Es la información que sale al darle click al marcador -->
                      <h5>Título</h5>
                      <span>Descripción</span>
                    </agm-info-window>

                  </agm-marker> 
                </agm-map>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="#" class="btn btn-primary  d-flex justify-content-center" name="ubicacion" id="ubicacion" [(ngModel)]="ubicacion" (click)="obtenerPosicionActual()">Seleccionar mi ubicación actual</a>
                  <a href="#" class="btn btn-primary  d-flex justify-content-center" name="ubicacion2" id="ubicacion2" [(ngModel)]="ubicacion" (click)="coordsFinales()">Confirmar ubicacion</a>
                  
                </div>
              </div>

            </div>
          </div>
          
          <div class="modal-footer">
            <button class="btn btn-primary">Limpiar</button>
            <button class="btn btn-primary" (click)="addPublicacion()">Publicar</button>
          </div>

