<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    <div class="intro">
                        <div class="profile-img">    
                        <img src="{{photo}}" alt="">
                        </div>
                    <h2><b>{{name}}</b></h2>
                    <h4 class="font-yellow">{{email}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Aca van las publicaciones-->
