<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    <div class="intro">
                        <div class="profile-img">    
                        <img src="../../../assets/images/profile.jpg" alt="">
                    </div>
                    <h2><b>Username</b></h2>
                    <h4 class="font-yellow">emailExample@gmail.com</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>

<!--Aca van las publicaciones-->
