<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalPublicaciones">
        Añadir publicación
      </button>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="card col-md-5 col-sm-12 imgs" style="width: 18rem;">
      <img src="../../../assets/images/image1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span>By User528</span>
        <br>
        <span>November 23, 2020</span>
        <h5 class="card-title">Did you know ...?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta illum iure fugit quaerat earum labore maxime consequatur numquam explicabo! Velit molestiae voluptatem excepturi harum ipsum quam vitae quidem totam?</p>
      </div>
    </div>
    <div class="card col-md-5 col-sm-12 imgs" style="width: 18rem;">
      <img src="../../../assets/images/image2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span>By User528</span>
        <br>
        <span>November 23, 2020</span>
        <h5 class="card-title">Did you know ...?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta illum iure fugit quaerat earum labore maxime consequatur numquam explicabo! Velit molestiae voluptatem excepturi harum ipsum quam vitae quidem totam?</p>
      </div>
    </div>
    <div class="card col-md-5 col-sm-12 imgs" style="width: 18rem;">
      <img src="../../../assets/images/image1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span>By User528</span>
        <br>
        <span>November 23, 2020</span>
        <h5 class="card-title">Did you know ...?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta illum iure fugit quaerat earum labore maxime consequatur numquam explicabo! Velit molestiae voluptatem excepturi harum ipsum quam vitae quidem totam?</p>
      </div>
    </div>
    <div class="card col-md-5 col-sm-12 imgs" style="width: 18rem;">
      <img src="../../../assets/images/image2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span>By User528</span>
        <br>
        <span>November 23, 2020</span>
        <h5 class="card-title">Did you know ...?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta illum iure fugit quaerat earum labore maxime consequatur numquam explicabo! Velit molestiae voluptatem excepturi harum ipsum quam vitae quidem totam?</p>
      </div>
    </div>
  </div>
</div>

