<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #usuarioForm="ngForm" (ngSubmit)="addUsuarios(usuarioForm)">
                        <div id="mensajeGuardarUsuario"></div>
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
                        <input type="hidden" name="foto" #_id="ngModel" [(ngModel)]="userService.selectedUser.foto">
                        <input type="hidden" name="num_reportes" #_id="ngModel" [(ngModel)]="userService.selectedUser.num_reportes">

                        <div *ngIf="editTipo">
                            <div>
                                <select name="tipo"  [(ngModel)]="userService.selectedUser.tipo" >
                                    <option>Normal</option>
                                    <option>Administrador</option>
                                </select>
                            </div>
                            
                            <div>
                                <div>
                                   <!--  <button (click)=resetForm(usuarioForm)>Limpiar</button> -->
                                    <button class="btn btn-success" (click)="addUsuarios(usuarioForm)">Guardar</button>
                                    <button class="btn btn-secondary" (click)="cancelarAgregar()">Cancelar</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </form>
                    
                    <table class="table text-center">
                        <thead>
                            <th>Nombre</th>
                            <th>Foto</th>
                            <th>Rol</th>
                            <th>Provider</th>
                            <th>Email</th>
                            <th>Operaciones</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userService.users | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i=index">
                                <td>{{ user.name }}</td>
                                <td><img class="imgRadius" src="{{user.foto}}"></td>
                                <td>{{ user.tipo }}</td>
                                <td>{{ user.provider }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a (click)="editUsuario(user)" class="btn btn-info">
                                        <i class="fas fa-user-edit textColor">Editar rol</i>
                                    </a>
                                    ㅤ
                                    <a (click)="deleteUsuario(user._id)" class="btn btn-danger">
                                        <i class="fas fa-trash-alt textColor">Eliminar</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
